.container {
    display: inline-grid;
    margin: 10px
}

.grid-item {
    border: black solid 1px;
    padding: 10px;
    text-align: center;
}
/*
.hidden {
    visibility: collapse;
    border: black;
}
*/

.page {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: lightblue;
    border: 2px solid purple
}

.canvasSize {
    margin-bottom: 10px;
}