.container {
    display: inline-grid;
    /*width: 300px;
    height: 300px;*/
    /*grid-template-rows: auto auto;*/
    /*grid-template-columns: repeat(8, auto);*/
}

.grid-item {
    border: black solid 1px;
    padding: 10px;
    text-align: center;
}
/*
.hidden {
    visibility: collapse;
    border: black;
}
*/